* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.item {
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.link {
    display: block;
    padding: 20px 40px 20px 40px;
    background-color: coral;
    text-decoration: none;
    color: darkred;
}

.link-product {
    display: block;
    padding: 20px 40px 20px 40px; 
    text-decoration: none;
    background-color: darkorange;
    white-space: nowrap;
}

.link-product:hover {
    background-color: red;
}

.list-product {
    position: absolute;
    left: 0;
    display: none;
}

.item {
    position: relative;
}

.item:hover .link {
    background-color: cyan;
}


.item:hover .list-product {
    display: block;
}


.link-sub {
    display: block;
    text-decoration: none;
    background-color:darkorange;
    padding: 20px 50px 20px 50px;
    white-space: nowrap;
}

.item-product:hover .list-sub {
    display: block;
}

.item-product:hover .link-product {
    background-color: cyan;
}

.link-sub:hover {
    background-color: cyan;
}

.list-sub {
    position: absolute;
    left: 173px; 
    top: 0;
    display: none;
}

.item-product {
    position: relative;
}

