* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.item {
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.link {
    display: block;
    padding: 20px 60px 20px 60px;
    background-color: coral;
    text-decoration: none;
    color: darkred;
}

.link-product {
    display: block;
    padding: 20px 60px 20px 60px; 
    text-decoration: none;
    background-color: darkorange;
    white-space: nowrap;
}

.list-product {
    position: absolute;
    left: 0;
    display: none;
}

.item {
    position: relative;
}

.item:hover .link {
    background-color: cyan;
}

.item:hover .list-product {
    display: block;
}

.link-sub {
    display: block;
    text-decoration: none;
    background-color:darkorange;
    padding: 20px 60px 20px 60px;
    white-space: nowrap;
}

.item-product:hover .list-sub {
    display: block;
}

.item-product:hover .link-product {
    background-color: cyan;
}

.item-sub:hover .link-sub {
    background-color: cyan;
}

.list-sub {
    position: absolute;
    left: 100%; 
    top: 0;
    display: none;
}

.item-product {
    position: relative;
}

.nav {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: justify;
}

.section {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.header {
    background-color: coral; 
}

